
    {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="MvRFSRFQQgkQl0bWsuhguS-Byayh057SBfcp0VUiBho" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mariyam Boutique</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstr
ap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=
Great+Vibes&display=swap" rel="stylesheet">
</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container">

<a class="navbar-brand text-white brand-font" href="/">Mariyam Boutique</a>

<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="nav">

<ul class="navbar-nav ms-auto">

<li class="nav-item">
<a class="nav-link" href="/">Home</a>
</li>

<li class="nav-item">
<a class="nav-link" href="/services/">Services</a>
</li>

<li class="nav-item">
<a class="nav-link" href="/about/">About</a>
</li>

<li class="nav-item">
<a class="nav-link" href="https://wa.me/918788563064" target="_blank">WhatsApp</a>
</li>

</ul>

</div>
</div>
</nav>


{% block content %}
{% endblock %}

<a href="https://wa.me/918788563064" class="whatsapp" target="_blank">
WhatsApp Order
</a>

<script
 src="https://cdn.jsdelivr.net/npm/bootstra
p@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>