{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="hero text-center
 text-white d-flex align-items-center justify-content-center">

<div class="hero-content">
<h1>Mariyam Boutique</h1>

<p>Exclusive Ladies Tailoring & Custom Designs</p>

<a href="/services/" class="btn btn-danger">Explore Services</a>

</div>

</div>

<section class="gallery">

<h2 class="section-title">Our Designs</h2>

<div class="gallery-container">

<img src="/static/images/design1.jpg" alt="design">
<img src="/static/images/design2.jpg" alt="design">
<img src="/static/images/design3.jpg" alt="design">
<img src="/static/images/design4.jpg" alt="design">
<img src="/static/images/design5.jpg" alt="design">
<img src="/static/images/design6.jpg" alt="design">

<h2>Our Gallery</h2>

<div class="gallery-grid">

{% for g in gallery %}

<img src="{{ g.image.url }}" alt="{{ g.title }}">

{% endfor %}

<section class="ai-chat">
    <div class="container mt-5">

  <div class="row">

    <div class="col-md-4">
      <h3>Ask Assistant</h3>
      <input type="text" class="form-control mb-2" placeholder="Ask something">
      <button class="btn btn-danger">Ask</button>
    </div>

</section>

<script>
function askAI(){
let q = document.getElementById("question").value;

fetch("/ai-chat/?q=" + q)
.then(res => res.json())
.then(data => {
document.getElementById("answer").innerText = data.reply;
});
}
</script>


</div>

</div>
<section class="testimonial mt-5">

<h2 class="text-center mb-5">Customer Reviews</h2>

<div class="container-fluid">
<div class="row">

{% for t in testimonials %}

<div class="col-md-4">

<div class="card shadow-lg p-4 mb-4 text-center w-100">

<h5 class="fw-bold">{{ t.name }}</h5>

<p class="text-muted">{{ t.message }}</p>

<div style="color:gold;font-size:20px;">
★★★★★
</div>

</div>

</div>

{% endfor %}


</div>
</div>
<section class="container mt-5">

<h3 class="text-center">Place Order</h3>

<form method="POST" action="/create-order/">
{% csrf_token %}

<input class="form-control mb-2" name="name" placeholder="Your Name">

<input class="form-control mb-2" name="phone" placeholder="Phone Number">

<select class="form-control mb-2" name="design">
<option>Lehenga</option>
<option>Suit</option>
<option>Blouse</option>
</select>

<button class="btn btn-success w-100">
Pay ₹500 Advance
</button>

</form>
</section>


{% endblock %}